@{
    Layout = "_Layout";
}
<!doctype html>
<html>
<h1>Конвертация</h1>
<body>
    <form method="post">
        <p>
            <label for="fromAmount">Введите число:</label>
            <input type="number" min="0" name="fromAmount" value="@ViewData["fromAmount"]" required/>
            <label for="fromCurrency">Выберите валюту:</label>
            <select name="fromCurrency" required>
                <option>USD</option>
                <option>EUR</option>
                <option>RUB</option>
                <option>CAD</option>
                <option>HKD</option>
                <option>ISK</option>
                <option>PHP</option>
                <option>DKK</option>
                <option>HUF</option>
                <option>AUD</option>
                <option>RON</option>
                <option>SEK</option>
                <option>IDR</option>
                <option>INR</option>
                <option>BRL</option>
                <option>JPY</option>
                <option>THB</option>
                <option>CHF</option>
                <option>SGD</option>
                <option>PLN</option>
                <option>BGN</option>
                <option>TRY</option>
                <option>CNY</option>
                <option>NOK</option>
                <option>NZD</option>
                <option>ZAR</option>
                <option>MXN</option>
                <option>ILS</option>
                <option>GBP</option>
                <option>KRW</option>
                <option>MYR</option>
            </select>

        </p>
        <p>
            <label for="toAmount">Результат:</label>
            <input type="number" name="toAmount" value="@ViewData["toAmount"]" readonly />
            <label for="toCurrency">Выберите валюту:</label>
            <select name="toCurrency" required>
                <option>USD</option>
                <option>EUR</option>
                <option>RUB</option>
                <option>CAD</option>
                <option>HKD</option>
                <option>ISK</option>
                <option>PHP</option>
                <option>DKK</option>
                <option>HUF</option>
                <option>AUD</option>
                <option>RON</option>
                <option>SEK</option>
                <option>IDR</option>
                <option>INR</option>
                <option>BRL</option>
                <option>JPY</option>
                <option>THB</option>
                <option>CHF</option>
                <option>SGD</option>
                <option>PLN</option>
                <option>BGN</option>
                <option>TRY</option>
                <option>CNY</option>
                <option>NOK</option>
                <option>NZD</option>
                <option>ZAR</option>
                <option>MXN</option>
                <option>ILS</option>
                <option>GBP</option>
                <option>KRW</option>
                <option>MYR</option>
            </select>
        </p>
        <p>
            <input type="submit" value="Конвертировать" />
        </p>
    </form>
</body>
</html>
